stamlit
pandas
numpy

nltk
quests
beautifulsoup4
twilio
scikit-learn
scipy
pytesseract
Pillow
pymupdf
cryptography
opencv-python
plotly
folium
geopandas
pyproj
shapely
python-dotenv
